<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  



<ion-list>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-list-header>
      In progress
    </ion-list-header>
      <ion-item routerLink ="/details">
       
      <ion-avatar slot="start">
        <img src="../../assets/Task.svg">
      </ion-avatar>
        <ion-label>
          <h3>Task 1</h3>
          <p>Some test content...</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item routerLink ="/details">

        <ion-avatar slot="start">
          <img src="../../assets/Task.svg">
        </ion-avatar>  
        <ion-label>
          <h3>task 2</h3>
          <p>some test content...</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
</ion-list>
</ion-content>